<% provide(:title, "ユーザー新規登録") %>
<div class="container">
<div clas="row">
<div class="text-center">
<h1 class="mb-3">ユーザー新規登録</h1>
<div style="max-width: 330px" class="m-auto">
<label for="inputUser" class="sr-only">ユーザーネームを入力して下さい</label>
<input type="text" id="inputUser" class="form-control" placeholder="ユーザーネームを入力して下さい" required autofocus>
<label for="inputEmail" class="sr-only">メールアドレスを入力して下さい</label>
<input type="email" id="inputEmail" class="form-control" placeholder="メールアドレスを入力して下さい" required autofocus>
<input type="submit" class="btn btn-lg mt-3 btn-primary btn-block" value="新規登録する">
</div>
</div>
</div>
</div>
