<% provide(:title, @user.name) %>
<div class="container">
<div clas="row">
<div class="text-center">
<div class="pb-1 m-auto user-show-image">
<img class="img-fluid" src="<%= "/user_images/#{@user.image_name}" %>">
</div>
<div class="mb-1 font-weight-bold"><%= @user.name %></div>
<div class="mb-1"><%= @user.email %></div>
<%= link_to("編集する","/users/#{@user.id}/edit",{class: "btn btn-success",role: "button"}) %>
</div>
</div>
</div>
