<div class="container">
<div clas="row">
<h1 class="mb-3">投稿一覧</h1>
<% @posts.each do | post | %>
<time><%= post.created_at %></time>
<p><%= link_to(post.content,"/posts/#{post.id}") %></p>
<hr>
<% end %>
</div>
</div>
