<div class="container">
<div clas="row">
<h1 class="mb-3">新規投稿する</h1>
<%= form_tag("/posts/create") do %>
<div class="form-group">
  <label for="title">タイトル</label>
  <input name="title" type="text" class="form-control" id="" placeholder="">
</div>
<div class="form-group">
  <label for="description">説明文</label>
  <textarea name="content" class="form-control" id="description" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">投稿する</button>
<% end %>
</div>
</div>
