/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Use "Airbnb Cereal App" font as a Webfont */
@font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.ttf') format('ttf');
}
@font-face {
    font-family: 'Airbnb Cereal App Light';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Light'), url('/assets/AirbnbCerealLight.ttf') format('ttf');
}
@font-face {
    font-family: 'Airbnb Cereal App Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.ttf') format('ttf');
}
@font-face {
    font-family: 'Airbnb Cereal App Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Bold'), url('/assets/AirbnbCerealBold.ttf') format('ttf');
}
@font-face {
    font-family: 'Airbnb Cereal App Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Extra Bold'), url('AirbnbCerealExtraBold.ttf') format('ttf');
}
@font-face {
    font-family: 'Airbnb Cereal App Black';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Black'), url('AirbnbCerealBlack.ttf') format('ttf');
}
*/
 html{
  font-size: 100%;
}
body{
	font-size: 1rem; /* 16px */
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  color: #333;
  padding-top: 5rem;
}
ul,ol,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.alert{
    margin: 0 1rem 2rem;
}
.user-image{
    margin-right: 1rem;
}
.user-image img{
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-show-image img{
    object-fit: cover;
}
.user-show-image{
    width: 100px;
}
.nav-item.user{
    color: #fff;
    border-left: 1px solid #999;
    margin: 0 0 0 1rem;
    padding: 0 0 0 .75rem;
}
.ico-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border:1px solid #fff;
    object-fit: cover;
}
